body{
	background: white;
	width: 1202px auto;
	height: 1873px auto;
}

header .img-fluid{
	margin-top:-124px;
	display: flex;
  width: 248px;
  height: 248px auto;
}

header {
	
	width: 1140px auto;
	height: 250px;
	background: #1e1414;
}

.navbar{
	z-index: 1;
	display: block;
	background: #1e1414;
}


.navbar-collapse{

	font-size: 24px;
	margin-inline-start: 30px;
}
.nav-item {
	margin-inline-start: 30px;
}
.nav-item :hover{

text-decoration: underline;
}

.form-group input{
	width: 300px;
}

#carouselExampleIndicators {

	padding-left: auto;
	padding-right: auto;
	width: 980px;
	height: 310px auto;
	margin-block-start: 130px;
	margin-block-end: 40px;
}
.carousel-item {
	width: 700px auto;
	height: 310px auto;
}
.carousel-item img {
	padding-right: 0px;
	padding-left: 0px;
	width: 700px auto;
	height: 330px;
}
.h1 {
	font-family: cursive;
	margin-top: 10px;
}
.tovar {
	padding-block-end: 4px;
 padding-block-start: 4px;
 padding-inline-end: 4px;
	background: gray;
	display: flex;
}
.row {
	height: 254px auto;
	width: 1110px;
	margin-inline-start: 0px;
}

.kartika {
	margin-left: -5px;
	width: 80px auto;
	height: 100px auto;
}
.kartika .img-fluid{
	
}
.product {
	box-shadow: 0px 2px 2px;
	margin-left: auto;
	margin-right: auto;
	background: white;
	width: 160px;
	height: 160px;
}
.product img {
	margin-inline-start: 10px;
	margin-block-start: 5px;
	width: 140px;
	height: 140px;
}

.product :hover {
    cursor: pointer;
}

.add{
    position: absolute;
    padding: 10px;
    margin-top: -96px;
	font-size: 16px;
	margin-left: 24px;
    color: white;
   border: 3px solid #959c90;
   background: #959c90;
   opacity: 0;
}
 

.product:hover > .add {
    opacity: 1;
    cursor: pointer;
}

.add:hover {
    background: #B0C4DE;
}

.product2{
	box-shadow: 0px 2px 2px;
	margin-left: auto;
	margin-right: auto;
	margin-top: -11px;
	background: #D9D9D9;
	width: 160px;
	height: 82px;
}
.left-block {
	overflow: hidden;
	width: 60%;
	margin-left: 0px;
	float: left;
	font-size: 14px;
}
.right-block {
	width: 55px;
	margin: 0;
	float: right;
}
.qualete{
	display: inline;
}
.qualete{
	font-size: 13px; 
	text-align: center;
	width: 25px;
	height: 25px;
	border: 3px solid white;
	border-radius: 20px;
	background: white;
	float: right;
	margin-top: 2px;
	margin-inline-end: 2px;
}
.down-block {
	margin-top: -15px;
	width: 160px;
	height: 30px;
	display: inline-block;
}
.year , .price {
	display: inline;
	
}
.price {
	font-size: 18px;	
	margin-left: 30px;
}
.btn-more {
	background:#D9D9D9; 
	width: 163px;
	height: 32px;
	text-align: center;
	font-size: 21px;
	margin-top: 13px;
	font-style: inherit;
	font-family: cursive;
	border-radius: 5px;
}
.pizdec {
	width: 100%;
	height: 400px;
    display: flex;
}
.left-blocky {
	display: flex;
}
.xuita {
	display: inline;
}
.I1 {
	display: inline;
	margin-top: 27px;
	margin-right: 27px;
	background: #C4C4C4;
	width: 262px;
	height: 372px;
	font-size: 40px;
	color: white;
	
}
.I2 {	
	font-family: PT Sans;
	font-style: normal;
	font-weight: normal;
	font-size: 24px;
	color: white;
	margin-top: 27px;
	margin-right: 27px;
	width: 254px;
	height: 206px;
	background: #C4C4C4;
	position: relative;
}
.right-blocky {
	display: inline;
}
.xerny {
	display: flex;
}
.I3 {
	
	margin-top: 27px;
	margin-right: 27px;
	width: 254px;
	height: 140px;
	background: #C4C4C4;
}
.I4 {
	
	margin-top: 27px;
	margin-right: 27px;
	width: 349px;
	height: 138px;
	background: #C4C4C4;
}
.I5 {
	
	margin-top: 27px;
	margin-right: 27px;
	width: 160px;
	height: 138px;
	background: #C4C4C4;
}
.I6 {
	
	margin-top: 27px;
	margin-right: 27px;
	background: #C4C4C4;
	width: 159px;
	height: 204px;
}
.I7 {
	color: white;
	font-family: PT Sans;
	font-style: normal;
	font-weight: normal;
	font-size: 30px;
	margin-top: 27px;
	margin-right: 27px;
	background: #C4C4C4;
	width: 350px;
	height: 204px;

}
.middle-block {
	height: 100px;
	font-family: PT Sans;
	font-style: normal;
	font-weight: normal;
	font-size: 30px;
	margin-top: 27px;
    text-align: center;
	background: #C4C4C4;
	margin-bottom: -100px;
}
footer {
	display: flex;
	margin-top: 135px;
	width: 100% auto;
	height: 201px;	
	background: #C4C4C4;
}
footer .container {
	display: flex;
}

footer .row {
	height: 100%;
	display: flex;
}
.f-block1{
	
	font-family: PT Sans;
	font-style: normal;
	font-weight: normal;
	font-size: 24px;
	display: inline-block;
}
.f-block11 {
	margin-top: 30px;
	
	display: flex;
}
.f-block11 svg{
	margin-inline-start: 30px;
}
.facebook, .inst, .vk {
	margin-inline-end: 15px;
	display: flex;
}
.mail , .phone {
	
	margin-top: 15px;
	margin-left: 40px;
}
.f-block2{
	margin: 30px;
	margin-left: 50px;
font-family: PT Sans;

}
.f-block21 {
	font-size: 26px;
}
.f-block22 {
	font-size: 20px;
}
.f-block3 {
	margin: 30px;
	margin-left: 120px;
font-family: PT Sans;
}
.f-block4 img{

	margin: 30px;
	margin-left: 80px;
	width: 140px;
	height: 140px;
}
.f-block5 {
	margin-top: -7PX;
	margin-left: 20%;
	width: 160px;
	height: 0px;
	
	
}
.f-block5 img {
	
	display: flex;
  width: 140px;
  height: 70px;
}